{% extends "page.html" %}

{% block primary_content %}
    <h1> CKAN Developer Information </h1>
    <p>
    <table class="table table-striped table-bordered table-condensed">
	<tr><th colspan="2">Host</th></tr>
    {% for key, value in h.get_host_info().items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}
    </table>
    <br />
    <table class="table table-striped table-bordered table-condensed">
	<tr><th colspan="2">CKAN</th></tr>
    {% for key, value in h.get_ckan_info().items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}
    </table>
    <br />
    <table class="table table-striped table-bordered table-condensed">
	<tr><th colspan="2">Site</th></tr>
    {% for key, value in h.counter_helper().items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}
    </table>
    <br />
    <table class="table table-striped table-bordered table-condensed">
	<tr><th colspan="3">Extensions</th></tr>
    {% for key, value in h.get_extensions_info().items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value[0] }}</td>
            <td>{{ value[1] }}</td>
        </tr>
    {% endfor %}
    </table>
    </p>
{% endblock %}
