{% extends "page.html" %}

{% block primary_content %}
    <h1> CKAN Developer Information </h1>
    <p>
    <table style="border: 1px solid black;">
	<tr><td>Host</td></tr>
    {% for key, value in h.get_host_info().items() %}
        <tr>
            <td style="border-bottom: 1px solid black">{{ key }}</td>
            <td style="border-bottom: 1px solid black">{{ value }}</td>
        </tr>
    {% endfor %}
    </table>
    <br />
    <table style="border: 1px solid black;">
	<tr><td>CKAN</td></tr>
    {% for key, value in h.get_ckan_info().items() %}
        <tr>
            <td style="border-bottom: 1px solid black">{{ key }}</td>
            <td style="border-bottom: 1px solid black">{{ value }}</td>
        </tr>
    {% endfor %}
    </table>
    <br />
    <table style="border: 1px solid black;">
	<tr><td>Site</td></tr>
    {% for key, value in h.counter_helper().items() %}
        <tr>
            <td style="border-bottom: 1px solid black">{{ key }}</td>
            <td style="border-bottom: 1px solid black">{{ value }}</td>
        </tr>
    {% endfor %}
    </table>
    </p>
    
{% endblock %}



